.container {
    max-width: 1200px;
    padding-inline: 3rem;
    margin: 0 auto;
}

.content {
    text-align: center;

    h1 {
        margin-bottom: 3rem;
    }

   p {
    margin-top: 9rem;
    max-width: 600px;
    margin: 0 auto;

   }
}

.secondParagraph {
   padding-bottom: 9rem;
   padding-top: 1rem; 
}